<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <%= render 'public/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <span class="heading__top-welcome">Welcome to</span>
      <div class="heading__top-logo"><%= image_tag("Nomi-Joy_letter.png", class: "public-top-logo") %></div>
    </div>
    <div class="content">
      <!-- 今日の飲み会 -->
      <div class="content__block--today">
        <h2 class="block-hedding">Today's ノミカイ</h2>
          <% if @today_event.present? %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">ノミカイ名</th>
                  <td><%= link_to event_path(@today_event),class:"today-link" do %><%= @today_event.name %><% end %></td>
                </tr>
                <tr>
                  <th scope="row">日にち</th>
                  <td><%= @today_event.date.to_s(:date_jp) %>（<%= @day_of_the_week %>）</td>
                </tr>
                <tr>
                  <th scope="row">時間</th>
                  <td><%= @today_event.start_time.to_s(:time) %>〜<%= @today_event.end_time.to_s(:time) %></td>
                </tr>
                <tr>
                  <th scope="row">場所</th>
                  <td><%= @today_event.restaurant.name %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @today_event.restaurant.access %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @today_event.restaurant.adress %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @today_event.restaurant.url %></td>
                </tr>
                <tr>
                  <th scope="row">カンジ</th>
                  <td><%= link_to user_path(@today_admin),class:"" do %><%= attachment_image_tag @today_admin, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %><%= @today_admin.belongs %><%= @today_admin.position %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= link_to user_path(@today_admin),class:"" do %><%= @today_admin.name %><% end %></td>
                  <td><%= link_to room_path(@today_admin.id),class:"btn green-btn" do %>カンジに連絡する<% end %></td>
                </tr>
              </tbody>
            </table>
        <% else %>
        今日のノミカイの予定はありません
        <% end %>
      </div>
      <!-- カレンダー -->
      <div class="content__block--calender">
        <h2 class="block-hedding">2020/7</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">月</th>
              <th scope="col">火</th>
              <th scope="col">水</th>
              <th scope="col">木</th>
              <th scope="col">金</th>
              <th scope="col">土</th>
              <th scope="col">日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>18:00-20:00<br>３課加藤さん送別会<br>上海庵</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>18:00-20:00<br>営業懇親会<br>ベルサイユの豚</td>
              <td></td>
              <td></td>
              <td></td>
            </tr><tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr><tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 未払い飲み会一覧 -->
      <div class="content__block__unpaid">
        <h2 class="block-hedding">未払いの飲み会一覧</h2>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">日時</th>
              <th scope="col">ノミカイ名</th>
              <th scope="col">金額</th>
              <th scope="col">カンジ</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @unpaying_event_users.each do |unpaying_event_user| %>
              <tr>
                <td><%= unpaying_event_user.event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[unpaying_event_user.event.date.wday] %>)</td>
                <td><%= link_to event_path(unpaying_event_user.event_id ),class:"" do %><%= unpaying_event_user.event.name %><% end %></td>
                <td><%= unpaying_event_user.fee %></td>
                <%# <td> 【対応要：下記２行をアソシーエション使って書き換えたい】【★幹事＝user_id使用】 %>
                  <%#= my_unpaid_event.event.admin_user.name %>
                <%# </td> %>
                <td><%= User.find(unpaying_event_user.event.user_id).belongs%><%= User.find(unpaying_event_user.event.user_id).position%><%= link_to user_path(unpaying_event_user.event.user_id ),class:"" do %><%= User.find(unpaying_event_user.event.user_id).name%><% end %></td>
                <td><%=link_to "DMを始める", room_path(unpaying_event_user.event.user_id), class:"btn small-btn green-btn" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
