<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <%= render 'public/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <span class="heading__top-welcome">Welcome to</span>
      <div class="heading__top-logo"><%= image_tag("Nomi-Joy_letter.png", class: "public-top-logo") %></div>
    </div>
    <div class="content">
      <!-- 今日の飲み会 -->
      <div class="content__block--today">
        <h2 class="block-hedding">Today's ノミカイ</h2>
        <% if @today_event.present? %>
          <div class="row">
            <table class="table table-borderless col-8">
              <tbody>
                <tr>
                  <th scope="row">ノミカイ名</th>
                  <td><%= link_to event_path(@today_event),class:"today-link" do %><%= @today_event.name %><% end %></td>
                </tr>
                <tr>
                  <th scope="row">日にち</th>
                  <td><%= @today_event.date.to_s(:date_jp) %>（<%= @day_of_the_week %>）</td>
                </tr>
                <tr>
                  <th scope="row">時間</th>
                  <td><%= @today_event.begin_time.to_s(:time) %>〜<%= @today_event.end_time.to_s(:time) %></td>
                </tr>
                <tr>
                  <th scope="row">場所</th>
                  <td><%= @today_event.restaurant.name %>&emsp;&emsp;<%= link_to @today_event.restaurant.url, target: :_blank, class: "btn blue-btn" do %>ぐるなびで見る<% end %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @today_event.restaurant.access %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @today_event.restaurant.address %></td>
                </tr>
                <tr>
                  <th scope="row">カンジ</th>
                  <td><%= link_to user_path(@today_admin),class:"" do %><%= attachment_image_tag @today_admin, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %><%= @today_admin.belongs %><%= @today_admin.position %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= link_to user_path(@today_admin),class:"" do %><%= @today_admin.name %><% end %>&ensp;&emsp;<%= link_to room_path(@today_admin.id),class:"btn green-btn" do %>カンジに連絡<% end %></td>
                </tr>
              </tbody>
            </table>
            <div class= "col-4">
              <%= image_tag(@today_event.restaurant.shop_image, class: "middle-image") %>
              <%= link_to "https://api.gnavi.co.jp/api/scope/", target: :_blank do %><%= image_tag("https://api.gnavi.co.jp/api/img/credit/api_155_20.gif") %><% end %>
            </div>
          </div>
        <% else %>
        今日のノミカイの予定はありません
        <% end %>
      </div>
      <!-- カレンダー -->
      <div class="content__block--calender">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
          <% events.each do |event| %>
            <div>
              <p class="calendar__time">
                 <%= event.begin_time.to_s(:time)%> 〜 <%= event.end_time.to_s(:time) %>
              </p>
              <p><%= link_to event_path(event),class:"event-link" do %><%= event.name%><% end %></p>
              <%= image_tag(event.restaurant.shop_image, class: "small-square-image") %>
              <p class="calendar__restaurant">＠<%= event.restaurant.name %></p>
            </div>
            <%# 【対応要：お店の写真】 %>
            <%#= attachment_image_tag event, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %>
          <% end %>
        <% end %>
      </div>
      <!-- 未払い飲み会一覧 -->
      <div class="content__block__unpaid">
        <h2 class="block-hedding">未払いの飲み会一覧</h2>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">日時</th>
              <th scope="col">ノミカイ名</th>
              <th scope="col">金額</th>
              <th scope="col">カンジ</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @unpaying_event_users.each do |unpaying_event_user| %>
              <tr>
                <td><%= unpaying_event_user.event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[unpaying_event_user.event.date.wday] %>)</td>
                <td><%= link_to event_path(unpaying_event_user.event_id ),class:"" do %><%= unpaying_event_user.event.name %><% end %></td>
                <td><%= unpaying_event_user.fee %></td>
                <td><%= User.find(unpaying_event_user.event.user_id).belongs%><%= User.find(unpaying_event_user.event.user_id).position%><%= link_to user_path(unpaying_event_user.event.user_id ),class:"" do %><%= User.find(unpaying_event_user.event.user_id).name%><% end %></td>
                <td><%=link_to "DMを始める", room_path(unpaying_event_user.event.user_id), class:"btn small-btn green-btn" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
