<div class= "col-lg-8 mx-auto">
  <div class="row">
    <div class="col-3">
      <%# 参照先のS3オブジェクトURLを作成 %>
      <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + notification.visitor.image_id + "-thumbnail." %>
      <%# S3+Lambdaで表示 %>
      <%= link_to admin_user_path(notification.visitor) do %>
        <%= image_tag(image_url, fallback: "no_image.jpg", class:"small-image") %>
      <% end %>
    </div>
    <div class="col-9 admin">
        <strong>
          <%= link_to admin_user_path(notification.visitor) do %>
            <%= notification.visitor.name %>
           <% end %>
        </strong>
        さんから
      <% case notification.action %>
      <% when 'follow' then %>
        フォローされました
        <p class="text-muted mb-0 font-xs nomal-font" >まだフォローしていない場合は承認するとノミカイメンバーとなります</p>
      <% when 'dm' then%>
        <%= link_to 'DM', admin_room_path(notification.visitor), style: "font-weight: bold;" %>が届いています
        <p class="text-muted mb-0 font-xs nomal-font" >
        <%#= notification.direct_message.message %>
        <%= DirectMessage.find_by(id:notification.direct_message_id).message %>
        </p>
      <% when 'create_event' then%>
        下記のノミカイに招待されました
        <p class="text-muted mb-0 nomal-font font-xs">
          <%= notification.event.date.to_s(:date) %>（<%= %w(日 月 火 水 木 金 土)[notification.event.date.wday] %>）&emsp;<%= notification.event.name %>&emsp;
        </p>
      <% when 'remind_event' then%>
        下記のノミカイのリマインドが届きました
        <p class="text-muted mb-0 nomal-font font-xs" >
          <%= notification.event.date.to_s(:date) %>（<%= %w(日 月 火 水 木 金 土)[notification.event.date.wday] %>）&emsp;<%= notification.event.name %>
        </p>
      <% when 'require_fee' then %>
        下記のお支払いについて確認の依頼があります
        <p class="text-muted mb-0 nomal-font font-xs" >
          <%= notification.event.date.to_s(:date) %>（<%= %w(日 月 火 水 木 金 土)[notification.event.date.wday] %>）&emsp;<%= notification.event.name %>&emsp;
          会費：<%= EventUser.with_deleted.find_by(user_id: notification.visitor_id,event_id: notification.event_id).fee %>円
        </p>
      <% when 'paid_fee' then %>
        下記のお支払いについて領収済と確認されました
        <p class="text-muted mb-0 nomal-font font-xs" >
          <%= notification.event.date.to_s(:date) %>（<%= %w(日 月 火 水 木 金 土)[notification.event.date.wday] %>）&emsp;<%= notification.event.name %>&emsp;
          会費：<%= EventUser.with_deleted.find_by(user_id: notification.visitor_id,event_id: notification.event_id).fee %>円
        </p>
      <% end %>
    </div>
    <div class="text-muted text-right nomal-font font-sm" style="width:100%;">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
  <hr>
</div>
