<div>
  <div class="progress__flash-message"></div>
  <%= form_with model: event, url: admin_events_progress_status_path(event.id), remote: true, class:"progress-status"  do |f| %>
    <%= f.select :progress_status, [ ["招待済",0], ["お店予約済", 1], ["リマインド済", 2 ] ,["終了済", 3] ], class: "admin" %>
    <%= f.submit "更新",class:"btn blue-btn btn-sm" %>
  <% end %>
</div>
<div class="progress__stepbar">
  <% case event.progress_status %>
  <% when 0 then %>
    <ul class="bootstrapWizard form-wizard">
      <li class="active" data-target="#step1"><span class="step">1</span><span class="title stepbar-tittle admin">メンバを招待済</span> </li>
      <li data-target="#step2" class=""><span class="step">2</span><span class="title stepbar-tittle admin">お店予約済</span> </li>
      <li data-target="#step3" class=""><span class="step">3</span><span class="title stepbar-tittle admin">リマインド済</span> </li>
      <li data-target="#step4" class=""><span class="step">4</span><span class="title stepbar-tittle admin">終了済</span> </li>
    </ul>
    <div class="clearfix"></div>
    <div class="remind-mail"> 
      <%=link_to admin_events_send_remind_path(event.id), class:"btn orange-btn", remote: true do %>
        <i class="fas fa-envelope admin-icon"></i>&nbsp;<i class="fas fa-bell admin-icon"></i>&ensp;全員にリマインドメール・通知を送る 
      <% end %>
      <p class="text-muted">※ リマインドメールはノミカイ前日に自動で送信されます。別途手動で送信したい場合は上記ボタンから送信できます。</p>
    </div>
  <% when 1 then %>
    <ul class="bootstrapWizard form-wizard">
      <li class="" data-target="#step1"><span class="step">1</span><span class="title stepbar-tittle admin">メンバを招待済</span> </li>
      <li data-target="#step2" class="active"><span class="step">2</span><span class="title stepbar-tittle admin">お店予約済</span> </li>
      <li data-target="#step3" class=""><span class="step">3</span><span class="title stepbar-tittle admin">リマインド済</span> </li>
      <li data-target="#step4" class=""><span class="step">4</span><span class="title stepbar-tittle admin">終了済</span> </li>
    </ul>
    <div class="clearfix"></div>
    <div class="remind-mail"> 
      <%=link_to admin_events_send_remind_path(event.id), class:"btn orange-btn", remote: true do %>
        <i class="fas fa-envelope admin-icon"></i>&nbsp;<i class="fas fa-bell admin-icon"></i>&ensp;全員にリマインドメール・通知を送る 
      <% end %>
      <p class="text-muted">※ リマインドメールはノミカイ前日に自動で送信されます。別途手動で送信したい場合は上記ボタンから送信できます。</p>
    </div>
  <% when 2 then %>
    <ul class="bootstrapWizard form-wizard">
      <li class="" data-target="#step1"><span class="step">1</span><span class="title stepbar-tittle admin">メンバを招待済</span> </li>
      <li data-target="#step2" class=""><span class="step">2</span><span class="title stepbar-tittle admin">お店予約済</span> </li>
      <li data-target="#step3" class="active"><span class="step">3</span><span class="title stepbar-tittle admin">リマインド済</span> </li>
      <li data-target="#step4" class=""><span class="step">4</span><span class="title stepbar-tittle admin">終了済</span> </li>
    </ul>
    <div class="clearfix"></div>
  <% when 3 then %>
    <ul class="bootstrapWizard form-wizard">
      <li class="" data-target="#step1"><span class="step">1</span><span class="title stepbar-tittle admin">メンバを招待済</span> </li>
      <li data-target="#step2" class=""><span class="step">2</span><span class="title stepbar-tittle admin">お店予約済</span> </li>
      <li data-target="#step3" class=""><span class="step">3</span><span class="title stepbar-tittle admin">リマインド済</span> </li>
      <li data-target="#step4" class="active"><span class="step">4</span><span class="title stepbar-tittle admin">終了済</span> </li>
    </ul>
    <div class="clearfix"></div>
  <% end %>
</div>