<%# 参加メンバー一覧(767px以上) %>
<div class="content__block--participants admin-table mt-5"> 
  <h2 class="block-hedding">参加者 <%= event.event_users.count %>名&ensp;（欠席 <%= event.event_users.only_deleted.count %>名）</h2>
  <table class="table members-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">氏名</th>
        <th scope="col">会社名・所属</th>
        <th scope="col">役職</th>
        <th scope="col">お酒</th>
        <th scope="col">好きな食べ物・お酒</th>
        <th scope="col">苦手な食べ物・お酒</th>
        <th scope="col">最寄駅</th>
        <th scope="col">参加可否</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% event_users.each do |event_user| %>
        <%# 参照先のS3オブジェクトURLを作成 %>
        <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + event_user.user.image_id + "-thumbnail." %>
        <tr >
          <%# S3+Lambdaで表示 %>
          <td scope="row"><%= link_to admin_user_path(event_user.user),class:"" do %><%= image_tag(image_url, fallback: "no_image.jpg", class:"small-image") %><% end %></td>
          <td><%= link_to admin_user_path(event_user.user),class:"nomal-font" do %><%= event_user.user.name %><% end %></td>
          <td class="nomal-font"><%= event_user.user.belongs %></td>
          <td class="nomal-font"><%= event_user.user.position %></td>
          <td class="nomal-font"><% if  event_user.user.can_drink == true %>○<% else%>×<% end%></td>
          <td class="nomal-font"><%= event_user.user.favolite %></td>
          <td class="nomal-font"><%= event_user.user.unfavolite %></td>
          <td class="nomal-font"><%= event_user.user.nearest_station %></td>
          <%# 参加不参加ボタン(非同期実装済み） %>
          <td class="participate_<%= event_user.id %>">
            <%= render 'admin/event_users/participate_button', event_user: event_user %>
          </td>
          <td>
            <%# current_user(自分)の場合はDMボタンを表示しない %>
            <% unless event_user.user == current_user %>
              <%=link_to admin_room_path(event_user.user.id), class:"btn btn-sm blue-btn ml-1" do %><i class="fas fa-comments admin-icon"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '参加者を追加', admin_add_event_user_path(event), class:"btn blue-btn" %>
</div>

<%# 上記のレスポンシブ対応版 %>
<%# 参加メンバー一覧(767px未満) %>
<div class="content__block--participants-responsive mt-5"> 
  <h2 class="block-hedding admin">参加者一覧</h2>
  <% event_users.each do |event_user| %>
    <%# 参照先のS3オブジェクトURLを作成 %>
    <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + event_user.user.image_id + "-thumbnail." %>
    <table class="table table-borderless font-sm">        
      <tbody>
        <tr>
          <%# S3+Lambdaで表示 %>
          <th scope="row" class="p-0 member-image"><%= link_to admin_user_path(event_user),class:"" do %><%= image_tag(image_url, fallback: "no_image.jpg", class:"small-image") %><% end %></th>
          <th scope="row"></th>
          <td  class="p-0"><%= link_to admin_user_path(event_user),class:"nomal-font font-md" do %><%= event_user.user.name %><% end %><br><br><p class="nomal-font font-xs"><%= event_user.user.belongs %>&emsp;<%= event_user.user.position %></p></td>
        </tr>
        <tr>
          <th scope="row" ></th>
          <th scope="row" class="p-0 admin">お酒</th>
          <td class="nomal-font p-0"><% if  event_user.user.can_drink == true %>○<% else%>×<% end%></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <th scope="row" class="p-0 admin">好き</th>
          <td class="nomal-font font-xs p-0"><%= event_user.user.favolite %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <th scope="row" class="p-0 admin">嫌い</th>
          <td class="nomal-font font-xs p-0"><%= event_user.user.unfavolite %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <th scope="row" class="p-0 admin">最寄駅</th>
          <td class="nomal-font font-xs p-0"><%= event_user.user.nearest_station %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <th scope="row"></th>          
          <td scope="row" class="d-flex justify-content-end">
            <%# 参加不参加ボタン(非同期実装済み） %>
            <span class="participate_<%= event_user.id %>">
              <%= render 'admin/event_users/participate_button', event_user: event_user %>
            </span>
            <span>
              <%# current_user(自分)の場合はDMボタンを表示しない %>
              <% unless event_user.user == current_user %>
                <%=link_to admin_room_path(event_user.user), class:"btn btn-sm blue-btn" do %><i class="fas fa-comments admin-icon"></i><% end %>
              <% end %>     
            </span>
          </td>
        </tr>
        <hr>
      </tbody>
    </table>
  <% end %>
  <%= link_to '参加メンバーを追加', admin_add_event_user_path(event), class:"btn blue-btn" %>
</div>