<p class="text-muted room-description"><i class="fas fa-key text-muted"></i>&nbsp;今日の予定 と ToDo リスト の部屋&nbsp;<i class="fas fa-key text-muted"></i></p>
<!-- 今日のノミカイ -->
<div class="content__block--today content__block admin-table">
  <h2 class="admin-block-hedding">今日のノミカイ</h2>
  <div class="row">
    <% if today_event.present? %>
      <table class="table table-borderless col-md-8">
        <tbody>
          <tr>
            <th scope="row">ノミカイ
            名</th>
            <td><%= link_to admin_event_path(today_event),class:"today-link nomal-font" do %><%= today_event.name %><% end %></td>
          </tr>
          <tr>
            <th scope="row">日にち</th>
            <td class="nomal-font"><%= today_event.date.to_s(:date_jp) %>（<%= day_of_the_week %>）</td>
          </tr>
          <tr>
            <th scope="row">時間</th>
            <td class="nomal-font"><%= today_event.begin_time.to_s(:time)%>〜<%= today_event.finish_time.to_s(:time) %></td>
          </tr>
          <tr>
            <th scope="row">場所</th>
            <td class="nomal-font"><%= today_event.restaurant.name %>
              <span class="restaurant mt-2">
                <%# この箇所の画像は767px未満のみ表示 %>
                <span class= "restaurant-image-responsive">
                  <%= image_tag(today_event.restaurant.shop_image, class: "middle-image") %>
                </span>
                <%= link_to today_event.restaurant.url, target: :_blank, class: "btn blue-btn btn-sm" do %>ぐるなびで見る<% end %>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td class="nomal-font font-xs text-muted"><%= today_event.restaurant.access %></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td class="nomal-font font-xs text-muted"><%= today_event.restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">TEL</th>
            <td class="nomal-font"><%= @today_event.restaurant.tel %></td>
          </tr>
          <tr>
            <th scope="row">参加者</th>
            <td class="nomal-font"><%= today_event.event_users.count %>名&ensp;（欠席 <%= today_event.event_users.only_deleted.count %>名）</td>
          </tr>
          <tr>
          <th scope="row">メモ</th>
          <td class="nomal-font responsive-font-sm"><%=  today_event.memo %></td>
        </tr>
        </tbody>
      </table>
      <%# この箇所の画像は767px以上のみ表示 %>
      <div class= "col-md-4 restaurant-image">
        <%= image_tag(today_event.restaurant.shop_image, class: "middle-image") %>
      </div>
    <% else %>
      <p class="col-12 text-muted">予定はありません</p>
    <% end %>
  </div>
</div>

<!-- ToDoリスト(非同期) -->
<%= render 'admin/todos/todos', todo:@todo, todos: @todos %>