<!-- 概要 -->
<div class="content__block--nomikai-overview content__block admin-table">
  <h2 class="block-hedding">ノミカイ概要</h2>
  <div class="row">
    <table class="table table-borderless col-md-8">
      <tbody>
        <tr>
          <th scope="row">ノミカイ名</th>
          <td  class="nomal-font"><%= event.name %></td>
        </tr>
        <tr>
          <th scope="row">日にち</th>
          <td class="nomal-font"><%= event.date.to_s(:date_jp) %>（<%= day_of_the_week %>）</td>
        </tr>
        <tr>
          <th scope="row">時間</th>
          <td class="nomal-font"><%= event.begin_time.to_s(:time) %> 〜 <%= event.finish_time.to_s(:time) %></td>
        </tr>
        <tr>
          <th scope="row">場所</th>
          <td  class="nomal-font"><%= event.restaurant.name %>
            <span class="restaurant mt-2">
              <%# この箇所の画像は767px未満のみ表示 %>
              <span class= "restaurant-image-responsive">
                <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
              </span>
              <%= link_to event.restaurant.url, target: :_blank, class: "btn blue-btn btn-sm" do %>ぐるなびで見る<% end %>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="nomal-font font-xs text-muted"><%= event.restaurant.access %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="nomal-font font-xs text-muted"><%= event.restaurant.address %></td>
        </tr>
        <tr>
          <th scope="row">TEL</th>
          <td class="nomal-font"><%= event.restaurant.tel %></td>
        </tr>
        <tr>
          <th scope="row">参加者</th>
          <td class="nomal-font"><%= event.event_users.count %>名&ensp;（欠席 <%= event.event_users.only_deleted.count %>名）</td>
        </tr>
        <tr>
          <th scope="row">メモ</th>
          <td class="nomal-font responsive-font-sm"><%= event.memo %></td>
        </tr>
      </tbody>
    </table>
    <%# この箇所の画像は767px以上のみ表示 %>
      <div class= "col-md-4 restaurant-image">
        <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
      </div>
      <%# 編集・削除ボタン %>
      <div class="admin-nomikai-overview-btn d-flex justify-content-end">
        <%= link_to "編集", edit_admin_event_path(event), class:"btn blue-btn edit-btn  btn-sm mr-2" %>
        <%= link_to "削除", admin_event_path(event),method: :delete,data:{confirm:"このノミカイを削除しますか？ 削除するとこのノミカイに紐づく情報も全て削除されます"}, class:"btn btn-danger btn-sm mr-2" %>
      </div>
  </div>
</div>
<!-- 進捗ステータス -->
<div class="content__block--progress content__block admin-table">
  <%# モーダルを表示するボタン %>
  <h2 class="block-hedding">進捗ステータス
    <span class="modal-btn" id="remind-modal-btn"><i class="far fa-question-circle"></i></span>
  </h2>
  <!-- ステータス変更フォーム・ステップバー -->
  <%# メンバーを招待・お店予約済のステータスの時のみリマインドメールボタンを表示 %>
  <%= render 'progress_stepbar', event: @event %>
</div> 
<%# モーダル表示画面 %>
<%= render 'modals/admin_event_index_tab1' %>