<!-- 全ての飲み会 -->
<div class="content__block__all-nomikai content__block">
  <h2 class="block-hedding">開催予定のノミカイ</h2>
  <div><%= image_tag("step-bar.png", class: "step-bar-202") %></div>
  <div class="row all-nomikai">
    <div class="col-3 all-nomikai__step">
      <h4>招待済</h4>
      <% status0_events.each do |status0_event| %>
        <p><%= link_to admin_event_path(status0_event),class:"" do %><%= status0_event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[status0_event.date.wday] %>)&emsp;<%= status0_event.name %><% end %></p>
      <% end %>
    </div>
    <div class="col-3 all-nomikai__step">
      <h4>お店予約済</h4>
      <%  status1_events.each do |status1_event| %>
        <p><%= link_to admin_event_path(status1_event),class:"" do %><%= status1_event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[status1_event.date.wday] %>)&emsp;<%= status1_event.name %><% end %></p>
      <% end %>
    </div>
    <div class="col-3 all-nomikai__step">
      <h4>前日リマインド済</h4>
        <%  status2_events.each do |status2_event| %>
        <p><%= link_to admin_event_path(status2_event),class:"" do %><%= status2_event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[status2_event.date.wday] %>)&emsp;<%= status2_event.name %><% end %></p>
      <% end %>
    </div>
  </div>
</div>
<!-- カレンダー -->
<div class="content__block--calender">
  <%= month_calendar events: events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div>
        <p class="calendar__time">
          <%= event.begin_time.to_s(:time)%> 〜 <%= event.end_time.to_s(:time) %>
        </p>
        <p><%= link_to event_path(event),class:"event-link" do %><%= event.name%><% end %></p>
        <%= image_tag(event.restaurant.shop_image, class: "small-square-image") %>
        <p class="calendar__restaurant">＠<%= event.restaurant.name %></p>
      </div>
    <% end %>
  <% end %>
</div>