<!-- お店情報 -->
<div class="content__block--restaurant content__block admin-table">
  <h2 class="block-hedding">お店情報</h2>
  <span class="restaurant mt-2">
    <%# この箇所の画像は767px未満のみ表示 %>
    <span class= "restaurant-image-responsive">
      <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
    </span>
  </span>
  <div class="row">
    <table class="table table-borderless col-md-8">
      <tbody>
        <tr>
          <th scope="row">お店名</th>
          <td class="nomal-font"><%= event.restaurant.name %>&emsp;<%= link_to event.restaurant.url, target: :_blank, class: "btn blue-btn btn-sm" do %>ぐるなびで見る<% end %></td>
        </tr>
        <tr>
          <th scope="row">アクセス</th>
          <td class="nomal-font responsive-font-sm"><%= event.restaurant.access %></td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td class="nomal-font responsive-font-sm"><%= event.restaurant.address %></td>
        </tr>
        <tr>
          <th scope="row">TEL</th>
          <td class="nomal-font responsive-font-sm"><%= event.restaurant.tel %></td>
        </tr>
        <tr>
          <th scope="row">営業時間</th>
          <td class="nomal-font responsive-font-sm"><%= event.restaurant.opentime %></td>
        </tr>
        <tr>
          <th scope="row">定休日</th>
          <td class="nomal-font responsive-font-sm"><%= event.restaurant.holiday %></td>
        </tr>
      </tbody>
    </table>
    <%# この箇所の画像は767px以上のみ表示 %>
     <div class="col-md-4 restaurant-image">
      <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-end col-12">
          <%= link_to "お店を変更", admin_change_restaurant_path(event), class:"btn blue-btn" %>
        </div>
    </div>
</div>
 <!-- マップ -->
<div class="content__block--map">
  <h2 class="block-hedding admin">お店のMap</h2>
  <div class="google-map">
    <div id='map' class="<%= event.restaurant.address %>"> </div>
  </div>
</div>

<%# マップ(JS)  %>
<script sec="javascripts/address_map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>