<!-- 概要 -->
<div class="content__block--nomikai-overview content__block admin-table">
  <h2 class="block-hedding">ノミカイ概要</h2>
  <div class="row">
    <table class="table table-borderless col-md-8">
      <tbody>
        <tr>
          <th scope="row">ノミカイ名</th>
          <td  class="nomal-font"><%= event.name %></td>
        </tr>
        <tr>
          <th scope="row">日にち</th>
          <td class="nomal-font"><%= event.date.to_s(:date_jp) %>（<%= day_of_the_week %>）</td>
        </tr>
        <tr>
          <th scope="row">時間</th>
          <td class="nomal-font"><%= event.begin_time.to_s(:time) %> 〜 <%= event.finish_time.to_s(:time) %></td>
        </tr>
        <tr>
          <th scope="row">場所</th>
          <td  class="nomal-font"><%= event.restaurant.name %>
            <span class="restaurant mt-2">
              <%# この箇所の画像は767px未満のみ表示 %>
              <span class= "restaurant-image-responsive">
                <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
              </span>
              <%= link_to event.restaurant.url, target: :_blank, class: "btn blue-btn btn-sm" do %>ぐるなびで見る<% end %>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="nomal-font font-xs text-muted"><%= event.restaurant.access %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="nomal-font font-xs text-muted"><%= event.restaurant.address %></td>
        </tr>
        <tr>
          <th scope="row">TEL</th>
          <td class="nomal-font"><%= event.restaurant.tel %></td>
        </tr>
        <tr>
          <th scope="row">参加者</th>
          <td class="nomal-font"><%= event.event_users.count %>名&ensp;（欠席 <%= event.event_users.only_deleted.count %>名）</td>
        </tr>
        <tr>
          <th scope="row">メモ</th>
          <td class="nomal-font responsive-font-sm"><%= event.memo %></td>
        </tr>
      </tbody>
    </table>
    <%# この箇所の画像は767px以上のみ表示 %>
      <div class= "col-md-4 restaurant-image">
        <%= image_tag(event.restaurant.shop_image, class: "middle-image") %>
      </div>
      <%# 編集・削除ボタン %>
      <div class="admin-nomikai-overview-btn d-flex justify-content-end">
        <%= link_to "Edit", edit_admin_event_path(event), class:"btn blue-btn edit-btn  btn-sm mr-2" %>
        <%= link_to "Delete", admin_event_path(event),method: :delete,data:{confirm:"このノミカイを削除しますか？ 削除するとこのノミカイに紐づく情報も全て削除されます"}, class:"btn blue-btn btn-sm mr-2" %>
      </div>
  </div>
</div>
<!-- 進捗ステータス -->
<div class="content__block--progress content__block admin-table">
  <h2 class="block-hedding">進捗ステータス</h2>
  <div>
    <%= form_with model: event, url: admin_events_progress_status_path(event.id), local: true, class:"progress-status"  do |f| %>
      <%= f.select :progress_status, [ ["招待済",0], ["お店予約済", 1], ["リマインド済", 2 ] ,["終了済", 3] ], class: "admin" %>
      <%= f.submit "Update",class:"btn blue-btn btn-sm" %>
    <% end %>
  </div>
  <!-- ステップバー（今後動的に実装予定） -->
  <div class="progress__stepbar">
    <ul class="bootstrapWizard form-wizard">
      <li class="active" data-target="#step1"><span class="step">1</span><span class="title stepbar-tittle admin">メンバを招待済</span> </li>
      <li data-target="#step2" class="active"><span class="step">2</span><span class="title stepbar-tittle admin">お店予約済</span> </li>
      <li data-target="#step3" class="active"><span class="step">3</span><span class="title stepbar-tittle admin">リマインド済</span> </li>
      <li data-target="#step4" class="active"><span class="step">4</span><span class="title stepbar-tittle admin">終了済</span> </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div>
  <%# 一斉通知もしくはメール（実装予定） %>
    <%# <form class="remind-mail">   %>
        <%#=link_to admin_events_path, class:"btn blue-btn" do %>
        <%# <i class="fas fa-envelope admin-icon"></i>(comming soon）全員にリマインドメールを送る %>
        <%# end %>
    <%# </form> %>
  </div>
</div>