<!-- 参加メンバー一覧 -->
<div class="content__block--participants mt-5"> 
  <h2 class="block-hedding">参加者 <%= event.event_users.count %>名&ensp;（欠席 <%= event.event_users.only_deleted.count %>名）</h2>
  <table class="table members-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">氏名</th>
        <th scope="col">会社名・所属</th>
        <th scope="col">役職</th>
        <th scope="col">会費</th>
        <th scope="col">お酒</th>
        <th scope="col">好きな食べ物・お酒</th>
        <th scope="col">苦手な食べ物・お酒</th>
        <th scope="col">最寄駅</th>
        <th scope="col">参加可否</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% event_users.each do |event_user| %>
        <tr >
          <td scope="row"><%= link_to admin_user_path(event_user.user),class:"" do %><%= attachment_image_tag event_user.user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %></td>
          <td><%= link_to admin_user_path(event_user.user),class:"nomal-font" do %><%= event_user.user.name %><% end %></td>
          <td class="nomal-font"><%= event_user.user.belongs %></td>
          <td class="nomal-font"><%= event_user.user.position %></td>
          <td class="nomal-font"><%= event_user.fee %></td>
          <td class="nomal-font"><% if  event_user.user.can_drink == true %>○<% else%>×<% end%></td>
          <td class="nomal-font"><%= event_user.user.favolite %></td>
          <td class="nomal-font"><%= event_user.user.unfavolite %></td>
          <td class="nomal-font"><%= event_user.user.nearest_station %></td>
          <%# 参加不参加ボタン(非同期実装済み） %>
          <td class="participate_<%= event_user.id %>">
            <%= render 'admin/event_users/participate_button', event_user: event_user %>
          </td>
            <td><%= link_to 'DM', admin_room_path(event_user.user.id), class:"btn btn-sm blue-btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '参加メンバーを追加', admin_add_event_user_path(event), class:"btn blue-btn" %>
</div>