<!-- 未払いメンバー一覧 -->
<div class="content__block__unpaid-participants content__block admin-table">
  <h2 class="block-hedding">集金中のメンバー</h2>
  <% if unpaying_event_users.with_deleted.present? %>
    <h2 class="block-hedding"><%= unpaying_event_users.with_deleted.count %>名</h2>
    <table class="table members-table">
      <thead>
        <tr>
          <th scope="col" class="participants-image-head"></th>
          <th scope="col"></th>
          <th scope="col">氏名</th>
          <th scope="col">会費</th> 
          <%# モーダルを表示するボタン %>
           <th scope="col">支払い状況<br><span class="sm-modal-btn" id="paid-modal-btn-1"><i class="far fa-question-circle"></i></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% unpaying_event_users.each do |unpaying_event_user| %>
          <%# 参照先のS3オブジェクトURLを作成 %>
          <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + unpaying_event_user.user.image_id + "-thumbnail." %>
          <tr>
            <div class="">
              <% if unpaying_event_user.deleted_at.nil? %>
                <td></td>
              <% else%>
                <td><span class="badge badge-danger">欠席</span></td>
              <% end %>
            </div>
            <%# S3+Lambdaで表示 %>
            <td scope="row" class="participants-image"><%= link_to admin_user_path(unpaying_event_user.user.id),class:"" do %><%= image_tag(image_url, fallback: "no_image.jpg", class:"small-image") %><% end %></td>
            <td class="participants-name"><%= link_to admin_user_path(unpaying_event_user.user.id),class:"nomal-font responsive-font-sm" do %><%= unpaying_event_user.user.name %><% end %></td>
            <td class="nomal-font responsive-font-sm"><%= unpaying_event_user.fee %>円</td>
            <td class="event-users-fee-status_<%= unpaying_event_user.id %>">
            <%# 会員ごとの会費ステータス変更フォーム(非同期) %>
            <%= render 'admin/event_users/event_users_fee_status', event_user: unpaying_event_user %>
          </td>
            <td>
              <%# current_user(自分)の場合はDMボタンを表示しない %>
              <% unless unpaying_event_user.user == current_user %>
                <%=link_to admin_room_path(unpaying_event_user.user), class:"btn btn-sm blue-btn" do %><i class="fas fa-comments admin-icon"></i><% end %>
              <% end %>     
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="notice-to-unpaying-users-button">
      <%=link_to admin_notice_to_unpaying_users_path(@event), class:"btn orange-btn",remote: true do %>
        <i class="fas fa-envelope admin-icon"></i>&nbsp;<i class="fas fa-bell admin-icon"></i>&ensp;支払い依頼通知・メールを送る
      <% end %>
      <%# モーダルを表示するボタン %>
      <span class="modal-btn" id="unpaid-modal-btn"><i class="far fa-question-circle"></i></span>
    </div>
  <% else %>
  全員領収済
  <% end %>
</div>
<!-- メンバーごとの会費、支払いステータス変更 -->
<div class="content__block__participants-fee-status admin-table">
  <h2 class="block-hedding">メンバーごとの会費・集金状況</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="participants-image-head"></th>
        <th scope="col">氏名<br><br></th>
        <th scope="col">会費<br><span class="text-muted">※半角英数字</span></th>
        <%# モーダルを表示するボタン %>
        <th scope="col">支払い状況<br><span class="sm-modal-btn" id="paid-modal-btn-2"><i class="far fa-question-circle"></i></span></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% event_users.each do |event_user| %>
        <%# 参照先のS3オブジェクトURLを作成 %>
        <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + event_user.user.image_id + "-thumbnail." %>
        <tr>
          <% if event_user.deleted_at.nil? %>
            <td></td>
          <% else%>
            <td><span class="badge badge-danger">欠席</span></td>
          <% end %>
          <%# S3+Lambdaで表示 %>
          <td scope="row" class="participants-image"><%= link_to admin_user_path(event_user.user),class:"" do %><%= image_tag(image_url, fallback: "no_image.jpg", class:"small-image") %><% end %></td>
          <td class="participants-name"><%= link_to admin_user_path(event_user.user),class:"nomal-font responsive-font-sm" do %><%= event_user.user.name %><% end %></td>
          <td class="event-users-fee_<%= event_user.id %>">
            <%# 会員ごとの会費変更フォーム(非同期) %>
            <%= render 'admin/event_users/event_users_fee', event_user: event_user %>
          </td>
          <td class="event-users-fee-status_<%= event_user.id %>" >
            <%# 会員ごとの会費ステータス変更フォーム(非同期) %>
            <%= render 'admin/event_users/event_users_fee_status', event_user: event_user %>
          </td>
          <td>
            <%# current_user(自分)の場合はDMボタンを表示しない %>
            <% unless event_user.user == current_user %>
              <%=link_to admin_room_path(event_user.user.id), class:"btn btn-sm blue-btn" do %><i class="fas fa-comments admin-icon"></i><% end %>
            <% end %>      
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# モーダル表示画面 %>
<%= render 'modals/admin_event_index_tab3' %>



