<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <h3 class="heading__event-date admin"><%= @event.date.to_s(:date) %>（<%= @day_of_the_week %>）</h3>
      <h1 class="heading__event-name admin"><%= @event.name %></h1>
    </div>
    <div class="content">
      <div class="content__block--add-event-user-fee content__block">
         <p class="text-muted">※会費は後から入力・変更できます<br>※ 半角数字で入力</p>
        <%= form_with model: @event_user, url: admin_add_event_user_create_path(room: "303"),  local: true do |f| %>
          <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="nomal-font responsive-font-sm">
                    <% @event_user_ids.each do |event_user_id| -%>
                      <span class="fee-name nomal-font admin responsive-font-sm"><%= User.find(event_user_id).name %></span>&emsp;<%= text_field_tag "fees[]","",class:"fee-form responsive-font-sm" %>円<br>
                    <% end -%>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="resposive-actions"> 
              <%= f.submit "戻る", name: :back, class: "btn admin-white-btn" %>
              <%= f.button type: "submit", class:"btn blue-btn"  do %><i class="fas fa-bell admin-icon"></i>&ensp;追加<% end %>
              <%= f.button type: "submit", name: :mail, class:"btn orange-btn"  do %><i class="fas fa-bell admin-icon"></i>&nbsp;<i class="fas fa-envelope admin-icon"></i>&ensp;追加 （メールで通知する）<% end %>
              <span class="modal-btn modal-btn-responsive-right" id="invite-modal-btn"><i class="far fa-question-circle"></i></span>
            </div> 
         <% end %>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </div>
</main>
<%# モーダル表示画面 %>
<%= render 'modals/admin_event_add_event_user' %>