<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <h3 class="heading__event-date admin"><%= @event.date.to_s(:date) %>（<%= @day_of_the_week %>）</h3>
      <h1 class="heading__event-name admin"><%= @event.name %></h1>
    </div>
    <div class="content">
      <div class="content__block--add-event-user-fee content__block">
         <p class="text-muted">※会費は後から入力・変更できます<br>※ 半角数字で入力</p>
        <%= form_with model: @event_user, url: admin_add_event_user_create_path(room: "303"),  local: true do |f| %>
          <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="nomal-font">
                    <% @event_user_ids.each do |event_user_id| -%>
                      <span class="fee-name nomal-font admin"><%= User.find(event_user_id).name %></span>&emsp;<%= text_field_tag "fees[]","",class:"fee-form" %>円<br>
                    <% end -%>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="actions"> 
              <%= f.submit "戻る", name: :back, class: "btn admin-white-btn" %>
              <%= f.submit "追加", class: "btn blue-btn" %>
            </div> 
         <% end %>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </div>
</main>
