<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <%# フラッシュメッセージ %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <h1 class="heading__en">Edit ノミカイ</h1>
      <h3 class="heading__ja">ノミカイ編集</h3>
    </div>
    <%= form_with model: @event,url: admin_event_path(@event.id), local: true,class:"edit-nomikai-form" do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">ノミカイ名<span class="must">&emsp;*</span></th>
            <td class="nomal-font responsive-font-sm"><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"create-event-form" %></td>
          </tr>
          <tr>
            <th scope="row">日にち</th>
            <td class="nomal-font responsive-font-sm"><%= @event.date.to_s(:date_jp) %>&emsp;<span class="text-muted nomal-font　font-xs">※日にちは変更できません</span></td>
          </tr>
          <tr>
            <th scope="row">時間<span class="must">&emsp;*</span></th>
            <td class="nomal-font responsive-font-sm"><%= f.time_field :begin_time, autofocus: true, autocomplete: "start_time", class:"create-event-form--time" %>&emsp;〜&emsp;<%= f.time_field :finish_time, autofocus: true, autocomplete: "finish_time", class:"create-event-form--time" %></td>
          </tr>
          <tr>
            <th scope="row">メモ</th>
            <td class="nomal-font responsive-font-sm"><%= f.text_area :memo, autofocus: true, autocomplete: "memo", class:"create-event-textarea" %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "Update", class:"btn blue-btn" %>
    <% end %>
    <%= render "layouts/footer" %>
  </div>
</main>
