<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading-non--underline mt-4">
      <%# フラッシュメッセージ %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <span class="heading__top-welcome" style="color:#267594 !important";>Welcome to</span>
      <div class="heading__top-logo"><%= image_tag("Kanjino-Heya_letter.png", class: "admin-top-logo") %></div>
    </div>
    <!-- 新規作成ボタン -->
    <%= render 'create_event_button' %>
    <div class="content">
      <%# タブ（リンク） %>
      <ul class="nav nav-tabs common-nav-tabs">
        <li class="nav-item" data-toggle="tooltip" data-original-title="今日の予定 と ToDo リスト">
          <a href="#top" class="nav-link common-nav-link active" data-toggle="tab">101号室</a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-original-title="今後の予定">
          <a href="#all" class="nav-link common-nav-link" data-toggle="tab">202号室</a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-original-title="集金">
          <a href="#fee" class="nav-link common-nav-link" data-toggle="tab">303号室</a>
        </li>
      </ul>
      <!-- タブ（中身） -->
      <div class="tab-content">
        <!-- タブ１ -->
        <div id="top" class="tab-pane active">
          <%= render 'tab1_index', today_event: @today_event, day_of_the_week: @day_of_the_week, todo: @todo, todos: @todos %>
        </div>
        <!-- タブ２ -->
        <div id="all" class="tab-pane">
          <%= render 'tab2_index', status0_events: @status0_events, status1_events: @status1_events, status2_events: @status2_events, events: @events %>
        </div>
        <!-- タブ３ -->
        <div id="fee" class="tab-pane">
          <%= render 'tab3_index', events: @events, users: @users %>
        </div>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </div>
</main>
