<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading-non--underline">
      <%# フラッシュメッセージ %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <h1 class="heading__en">Nomikai Detail</h1>
      <h3 class="heading__ja">ノミカイ詳細</h3>
    </div>
    <!-- 新規作成ボタン -->
    <%= render 'admin/events/create_event_button' %>
    <div class="content">
      <!-- タブリンク -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#top" class="nav-link members-tab-link active" data-toggle="tab">概要</a>
        </li>
        <li class="nav-item">
          <a href="#participants" class="nav-link members-tab-link" data-toggle="tab">メンバー</a>
        </li>
        <li class="nav-item">
          <a href="#nomikai-fee" class="nav-link members-tab-link" data-toggle="tab">集金状況</a>
        </li>
        <li class="nav-item">
          <a href="#restaurant" class="nav-link members-tab-link" data-toggle="tab">お店</a>
        </li>
      </ul> 
      <!-- タブ中身 -->
      <div class="tab-content">
        <!-- タブ１ -->
        <div id="top" class="tab-pane active">
          <%= render 'tab1', event: @event, day_of_the_week: @day_of_the_week %>
        </div>
        <!-- タブ２ -->
        <div id="participants" class="tab-pane">
          <%= render 'tab2', event: @event, event_users: @event_users %>
        </div>
        <!-- タブ３ -->
        <div id="nomikai-fee" class="tab-pane">
          <%= render 'tab3', unpaying_event_users: @unpaying_event_users, event_users: @event_users  %>
        </div>
        <!-- タブ４ -->
        <div id="restaurant" class="tab-pane">
          <%= render 'tab4', event: @event %>
        </div> 
      </div>
    </div>
  </div>
</main>