<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <h1 class="heading__en">Nomikai Create Step4</h1>
      <h3 class="heading__ja">ノミカイ新規作成</h3>
    </div>
    <div class="content">
      <div class="content__block--step-bar">
        <h3>会費設定</h3>
        <p class="fee-annotion">※ 後ほど設定できます</p>
        <p class="fee-annotion">※ 半角数字で入力</p>
        <div><%= image_tag("step-bar.png", class: "") %>
      </div> 
      <div class="content__block--step4 content__block">
        <%= form_with  model: @event, url: admin_confirm_path,  local: true do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="">
                  <%# カンジ %>
                  <span class="fee-name"><%= User.find(@event.user_id).name %>（カンジ）</span>&emsp;<%= text_field_tag "admin_fee","",class:"fee-form" %>円<br />
                  <%# カンジ以外の参加メンバー %>
                  <% @event_user_ids.each do |event_user_id| -%>
                    <span class="fee-name"><%= User.find(event_user_id).name %></span>&emsp;<%= text_field_tag "fees[]","",class:"fee-form" %>円<br>
                  <% end -%>
                </td>
              </tr>
            </tbody>
          </table>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :date %>
          <%= f.hidden_field :begin_time %>
          <%= f.hidden_field :end_time %>
          <%= f.hidden_field :restaurant_id %>
          <%= f.hidden_field :memo %>
          <div class="actions"> 
            <%= f.submit "Next", class: "btn blue-btn" %>
            <%= f.submit "Back", name: :back, class: "btn white-btn" %>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</main>



















