<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <%# フラッシュメッセージ %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <h5 class="heading__create-event admin">ノミカイをつくる</h5>
      <h1 class="heading__en admin">Step2</h1>
    </div>
    <div class="content">
      <div class="content__block--step-bar">
        <h3 class="admin">お店選択</h3>
        <%# ステップバー（Bootstrap・見た目のみ） %>
        <div class="create-nomikai-stepbar">
          <ul class="bootstrapWizard form-wizard">
            <li class="" data-target="#step1"><span class="step">1</span></li>
            <li data-target="#step2" class="active"><span class="step">2</span></li>
            <li data-target="#step3" class=""><span class="step">3</span></li>
            <li data-target="#step3" class=""><span class="step">4</span></li>
            <li data-target="#step3" class=""><span class="step">5</span></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div> 
      <div class="content__block--step2 content__block">
        <p class="text-muted">（例： "魚金 新宿", "イタリアン,新宿"）</p>
        <%= form_with model: @event, url: admin_step2_path, local: true do |f| %>
          <%= text_field_tag :freeword %>
          <%= f.button type: "submit", class:"btn blue-btn btn-sm"  do %><i class="fas fa-search public-search-btn"></i><% end %>
          <span class="must">&emsp;*</span>
          <% if @rests %>
            <% @rests.each do |rest| %>
              <p class="text-left choose-restaurant">
                <%= radio_button_tag :restaurant, rest  %>
                <%= image_tag(rest["image_url"]["shop_image1"], class: "sm-restaurant-image") %>
                <span class="restaurant-result responsive-font-sm admin"><%= rest["name"] %></span>
                <%= link_to rest["url"], target: :_blank, class: "btn blue-btn gurunavi-sm-btn ml-1" do %>ぐるなびで見る<% end %>
              </p>
            <% end %>
          <% end %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :date %>
          <%= f.hidden_field :begin_time %>
          <%= f.hidden_field :finish_time %>
          <%= f.hidden_field :memo %>
          <p class="step2-button">
            <%= f.submit "戻る", name: :back, class: "btn admin-white-btn" %>
            <%= f.submit "次へ", name: :next, class: "btn blue-btn" %>
          </p>
        <% end %>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </div>
</main>


