<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <%# エラーメッセージをこの部分に表示させるためにここにform記載 %>
      <%= form_with model: @event, url: admin_step2_path,  local: true do |f| %>
        <%# エラーメッセージ %>
        <%= render 'layouts/error_messages', model: f.object %>
        <h5 class="heading__create-event admin">ノミカイをつくる</h5>
        <h1 class="heading__en admin">Step1</h1>
      </div>
      <div class="content">
        <div class="content__block--stepbar admin-table">
          <h3>日時選択</h3>
          <%# ステップバー（Bootstrap・見た目のみ） %>
          <div class="create-nomikai-stepbar">
            <ul class="bootstrapWizard form-wizard">
              <li class="active" data-target="#step1"><span class="step">1</span></li>
              <li data-target="#step2" class=""><span class="step">2</span></li>
              <li data-target="#step3" class=""><span class="step">3</span></li>
              <li data-target="#step3" class=""><span class="step">4</span></li>
              <li data-target="#step3" class=""><span class="step">5</span></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="content__block--step1 content__block">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">ノミカイ名<span class="must">&emsp;*</span></th>
                <td class="nomal-font font-sm"><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"create-event-form" %></td>
              </tr>
              <tr>
                <th scope="row">日にち<span class="must">&emsp;*</span></th>
                <td class="nomal-font font-sm"><%= f.date_field :date, autofocus: true, autocomplete: "date", class:"create-event-form" %></td>
              </tr>
              <tr>
                <th scope="row">時間<span class="must">&emsp;*</span></th>
                <td class="nomal-font font-sm"><%= f.time_field :begin_time, autofocus: true, autocomplete: "start_time", class:"create-event-form--time" %>&emsp;〜&emsp;<%= f.time_field :finish_time, autofocus: true, autocomplete: "finish_time", class:"create-event-form--time" %></td>
              </tr>
              <tr>
                <th scope="row">メモ&ensp;&nbsp;</th>
                <td class="nomal-font"><span class="text-muted responsive-font-sm">※カンジ専用のメモです。参加者側には表示されません。</span><br><%= f.text_area :memo, autofocus: true, autocomplete: "memo", class:"create-event-textarea" %></td>
              </tr>
            </tbody>
          </table>
          <div class="actions"> 
            <%= f.submit "次へ", class: "btn blue-btn" %>
          </div> 
        <% end %>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </div>
</main>
