<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body dm-body">
    <div class="heading dm-show-heading sticky-top">
      <h1 class="heading__en">DM room</h1>
      <div class="heading__image"><%= link_to admin_user_path(@user),class:"" do %><%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"responsive-dm-image" %><% end %></div>
      <div class="heading__name"><%= link_to admin_user_path(@user),class:"" do %><%= @user.name %><% end %></div>
    </div>
    <!-- 新規作成ボタン -->
    <%= render 'admin/events/create_event_button' %>
    <div class="content dm-content">
      <div class="content__block--exchange">
        <% @dms.each do |dm| %>
          <% if dm.user_id == current_user.id %>
            <div class="self">
              <p  class="self__message" style="text-align: right;  color:#bc7395;"><%= dm.message %></p>
            </div>
          <% else %>
            <div class="other">
              <%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"other__image" %>
              <p class="other__message" style="text-align: left; color:#355384;"><%= dm.message %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="content__block--dm-form">
        <%= form_with model: @dm, data: {remote: true},class:"chat-form" do |f| %>
          <%= f.text_field :message, class:"dm-form__textarea" %>
          <%= f.hidden_field :room_id %>
          <%# 767px以下のみ表示 %>
          <%= f.submit "送信", class:"btn small-btn blue-btn dm-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
