<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <div class="dm-sidebar">
      <%= render 'public/logging_in_slidebar' %>
    </div>
  </div>  
  <div class="body dm-body">
    <!-- Go toカンジの部屋ボタン（767px以下のみ） -->
    <%= render 'public/events/go_to_kanjino_heya_button' %>
    <div class="heading dm-show-heading sticky-top">
      <%# S3+Lambdaで表示 %>
      <div class="heading__image"><%= link_to user_path(@user),class:"" do %><%= image_tag(@image_url, fallback: "no_image.jpg", class:"responsive-dm-image") %><% end %></div>
      <div class="heading__name"><%= link_to user_path(@user),style:"font-size:3rem" do %><%= @user.name %><% end %></div>
    </div>
    <div class="content dm-content">
      <div class="content__block--exchange">
        <%# 下記の条件分岐は、メッセージがない状態だと入力フォームが上に来てしまうため %>
        <% if @dms.present?%>
          <% @dms.each do |dm| %>
            <% if dm.user_id == current_user.id %>
              <div class="self">
                <p  class="self__message nomal-font responsive-font-sm" style="text-align: right; color:#fff; background-color:#a6c2b8;"><%= dm.message %></p>
              </div>
            <% else %>
              <div class="other">
                <%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"other__image" %>
                <p class="other__message nomal-font responsive-font-sm" style="text-align: left; color:#1b515c;"><%= dm.message %></p>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%# メッセージが何もない場合 %>
          <div class="dm-no-content"></div>
        <% end %>
      </div>
      <div class="content__block--dm-form">
        <%= form_with model: @dm, data: {remote: true},class:"chat-form" do |f| %>
          <%= f.text_field :message, class:"dm-form__textarea" %>
          <%= f.hidden_field :room_id %>
          <%# 767px以下のみ表示 %>
          <%= f.button type: "submit", class:"btn green-btn btn-sm"  do %><i class="far fa-paper-plane public-search-btn"></i><% end %>
        <% end %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </div>
</main>
