<th scope="row"><%= link_to user_path(find_user),class:"" do %><%= attachment_image_tag find_user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %></th>
<td><%= find_user.name %></td>
<td><%= find_user.belongs %></td>
<td><%= find_user.position %></td>
<td>
  <% if current_user != find_user %>
    <% if find_user.followed_by?(current_user) %>
        <p><%=link_to "フォロー済み", user_relationships_path(find_user.id), method: :delete, class:"btn small-btn white-btn" %></p>
    <% else %>
        <p><%=link_to "フォローする", user_relationships_path(find_user.id), method: :post, class:"btn small-btn green-btn" %></p>
    <% end %>
  <% end %>
</td>