<%= link_to admin_events_path do %><%= image_tag("Kanjino-Heya.png", class: "sidebar__room-logo") %><% end %>
<nav class="sidebar__nav">
  <ul class="nav flex-column">
    <li><%= link_to admin_events_path,class:"admin-nav-item" do %>
      <i class="fas fa-home admin-icon"></i>&ensp;
      Home<% end %></li>
    <li><%= link_to admin_notifications_path, class:"admin-nav-item" do %><%= render "admin/notifications/circle" %><% end %></li>
    <li><%= link_to admin_rooms_path, class:"admin-nav-item" do %>
    <i class="fas fa-comments admin-icon"></i>&ensp;
    DM<% end %></li>
  </ul>
</nav> 
<div class="sidebar__go-to-otherside">
  <p class="go-to-otherside__letter">Back to</p>
  <%= link_to events_path,class:"" do %><%= image_tag("Nomi-Joy.png", class: "go-to-otherside__logo") %><% end %> 
</div>
