<nav class="navbar navbar-expand-lg navbar-light fixed-top admin-header-nav">
  <%= link_to admin_events_path do %><%= image_tag("Kanjino-Heya.png", class: "header-logo") %><% end %>
  <button class="navbar-toggler admin-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="admin-navbar-nav">
      <li><%= link_to admin_events_path,class:"nav-item" do %>
      <i class="fas fa-home admin-icon"></i>&ensp;
      Home<% end %></li>
      <li><%= link_to admin_notifications_path, class:"admin-nav-item" do %><%= render "admin/notifications/circle" %><% end %></li>
      <li><%= link_to admin_rooms_path, class:"nav-item" do %>
      <i class="fas fa-comments admin-icon"></i>&ensp;
      DM<% end %></li>
      <li><%= link_to events_path,class:"admin-nav-item" do %>Back to &ensp;<%= image_tag("Nomi-Joy.png", class: "go-to-otherside__logo") %><% end %></li>
    </ul>
  </div>
</nav>