<main>
  <div class="main-visual">
    <div class="container">
      <%# フラッシュメッセージ %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= image_tag("Nomi-Joy.png", class: "main-visual__logo") %>
      <h2 class="main-visual__catch-copy">飲み会の準備を楽しく、便利に。</h2>
      <div class="main-visual__sign">
        <%= link_to new_user_registration_path,class:"btn green-btn" do %>Sign up<% end %>
        <%= link_to new_user_session_path,class:"btn green-btn" do %>Login<% end %>
        <%# かんたんログイン %>
        <%= render 'public/users/sessions/testuser' %>
      </div>   
    </div>
  </div>
  <div class="about">
    <h1 class="about__heading">What about <%= image_tag("Nomi-Joy_letter_white.jpg", class: "about_heading-logo") %> ?</h1>
    <div class="about__content">
      <div class="about-all">
        <p class="">ノミジョイ！は、 「飲み会の準備を楽しく、便利に」 するためのサービスです。<br>ログインすることで、参加者の方も幹事の方もかんたんにご利用いただけます。</p>
      </div>
      <div class="about-2way row">
        <div class="about-Nomi-Joy col-sm-5">
          <%= image_tag("Nomi-Joy.png", class: "about-Nomi-Joy__logo") %>
          <div class="about-Nomi-Joy__content">
            <p class="">ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。</p>
          </div>
          <div class="about-Nomi-Joy__content">
            <p class="">ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。</p>
          </div>
          <div class="about-Nomi-Joy__content">
            <p class="">ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。ノミジョイの説明。</p>
          </div>
        </div>
        <div class="about-Kanjino-Heya col-sm-5">
          <%= image_tag("Kanjino-Heya.png", class: "about-Kanjino-Heya__logo") %>
          <div class="about-Kanjino-Heya__content">
            <p class="">カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。</p>
          </div>
          <div class="about-Kanjino-Heya__content">
            <p class="">カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。</p>
          </div>
          <div class="about-Kanjino-Heya__content">
            <p class="">カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。カンジの部屋の説明。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="top-footer">
  <div class="container">
    <div class="d-flex justify-content-center footer">
      <p class="mb-0 copyright">Copyright(c)  2020 Nomi-Joy! Co.,Ltd</p>&emsp;
      <%= link_to "https://api.gnavi.co.jp/api/scope/", target: :_blank do %>
        <%= image_tag("https://api.gnavi.co.jp/api/img/credit/api_155_20.gif") %>
      <% end %>
    </div>
  </div>
</footer>
