<!doctype html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" />
    <style>
    /* h2,p{
    color:#215c89;
    } */
    </style>
  </head>
  <body> 
    <hr>
    <h3>下記のお支払いについて未領収のためご確認をお願いします</h3>
    <hr>
    <div class="event">
      <p>◆未領収のノミカイ</p>
      <p>&ensp;ノミカイ名： <%= @event.name %></p>
      <p>&ensp;日にち： <%= @event.date.to_s(:date) %>(<%= %w(日 月 火 水 木 金 土)[@event.date.wday] %>)</p>
      <p>&ensp;時間： <%= @event.begin_time.to_s(:time) %> 〜 <%= @event.finish_time.to_s(:time) %></p>
      <p>&ensp;場所： <%= @event.restaurant.name %></p>
      <p>&ensp;会費： <%= @event_user.fee %>円</p>
      <p>&ensp;カンジ： <%= @admin.belongs %><%= @admin.position %>&ensp;<%= @admin.name %></p>
    </div>
    <br>

    <p>◆詳細は下記よりログインしてご確認いただけます。</p>
    <p>&ensp;ノミジョイ！ログインページ：<br>&ensp;<%= @url %></p>
    <br>
    <p>※このメールは送信専用です。カンジへの連絡は【ノミジョイ！】内のダイレクトメッセージ機能をご利用いただけます。</p>
    <hr>
    <h3>ノミジョイ！チーム</h3>
    <hr>
  </body>
</html>




