<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <%= render 'public/logging_in_slidebar' %>
  </div>  
  <!-- Go toカンジの部屋ボタン（767px以下のみ） -->
  <%= render 'public/events/go_to_kanjino_heya_button' %>
  <div class="body">
    <div class="heading">
      <h1 class="heading__en">Notice</h1>
      <h3 class="heading__ja">通知</h3>
    </div>
    <div class="content content__block__notice">
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <div class="paginate-bar">
          <%= paginate @notifications %>
        </div>
      <% else %>
        <p class="text-secondary">まだ通知はありません</p>
      <% end %>
    </div>
    <%= render "layouts/footer" %>
  </div>
</main>

        