<nav class="navbar navbar-expand-lg navbar-light fixed-top header-nav">
  <%= link_to events_path do %><%= image_tag("Nomi-Joy.png", class: "header-logo") %><% end %>
  <button class="navbar-toggler public-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li><%= link_to events_path,class:"nav-item" do %>
      <i class="fas fa-home public-icon"></i>&ensp;
      Home<% end %></li>
      <li><%= link_to user_path(current_user), class:"nav-item" do %>
      <i class="fas fa-user public-icon"></i>&ensp;
      My page<% end %></li>
      <li><%= link_to users_path, class:"nav-item" do %>
      <i class="fas fa-user-friends public-icon"></i>&ensp;
      Members<% end %></li>
      <li><%= link_to notifications_path, class:"nav-item" do %><%= render "public/notifications/circle" %><% end %></li>
      <li><%= link_to rooms_path, class:"nav-item" do %>
      <i class="fas fa-comments public-icon"></i>&ensp;
      DM<% end %></li>
      <li><%= link_to destroy_user_session_path, method: :delete, class:"nav-item" do %>
      <i class="fas fa-sign-out-alt public-icon"></i>&ensp;
      Sign out<% end %></li>
    </ul>
  </div>
</nav>