<nav class="navbar navbar-expand-lg navbar-light fixed-top header-nav">
  <%= link_to root_path do %><%= image_tag("Nomi-Joy.png", class: "header-logo") %><% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li><%= link_to "Home", root_path, class:"nav-item" %></li>
      <li><%= link_to "Sign up", new_user_registration_path, class:"nav-item" %></li>
      <li><%= link_to "Login", new_user_session_path, class:"nav-item" %></li>
    </ul>
  </div>
</nav>