<!-- メンバー検索 -->
<div class="content__block--search-members">
  <form class="members-search-form">  
    <div class="form-group col-3">
        <select class="form-control">
            <option>氏名</option>
            <option>会社名・所属</option>
        </select>
    </div>
    <div class="form-group col-6">
      <input type="text" class="form-control">
    </div>
  </form>
</div>
<%# メンバー一覧 %>
<div class="content__block--menbers"> 
  <table class="table members-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">氏名</th>
        <th scope="col">会社名・所属</th>
        <th scope="col">役職</th>
        <th scope="col">お酒</th>
        <th scope="col">好きな食べ物・お酒</th>
        <th scope="col">苦手な食べ物・お酒</th>
        <th scope="col">最寄駅</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% members.each do |member| %>
        <tr>
          <th scope="row"><%= link_to user_path(member),class:"" do %><%= attachment_image_tag member, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %></th>
          <td><%= link_to user_path(member),class:"" do %><%= member.name %><% end %></td>
          <td><%= member.belongs %></td>
          <td><%= member.position %></td>
          <td><% if  member.can_drink == true %>○<% else%>×<% end%></td>
          <td><%= member.favolite %></td>
          <td><%= member.unfavolite %></td>
          <td><%= member.nearest_station %></td>
          <td>
            <% if current_user != member %>
              <% if member.followed_by?(current_user) %>
                  <p><%=link_to "フォロー済み", user_relationships_path(member.id), method: :delete, class:"btn small-btn white-btn" %></p>
              <% else %>
                  <p><%=link_to "フォローする", user_relationships_path(member.id), method: :post, class:"btn small-btn green-btn" %></p>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'DMを開始', room_path(member.id), class:"btn small-btn green-btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>