<div class="content__block__search-users content__block">
  <h2 class="block-hedding">ユーザーを探す</h2>
  <%# 検索フォーム(非同期) %>
  <%= render 'public/searches/member_search_form', find_users:@find_users %>
</div>
<div class="content__block__followed">
  <h2 class="block-hedding">承認依頼の来ているユーザー</h2>
  <table class="table members-table font-sm">
    <tbody>
      <% followers.each do |follower| %>
        <tr>
          <th scope="row"><%= link_to user_path(follower),class:"" do %><%= attachment_image_tag follower, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %></th>
          <td><%= link_to user_path(follower),class:"" do %><%= follower.name %><% end %></td>
          <td><%= follower.belongs %></td>
          <td><%= follower.position %></td>
          <td>
            <%# フォローボタン（非同期） %>
            <%= render "follow_button", member: follower %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="content__block__followed">
  <h2 class="block-hedding">全てのユーザー</h2>
  <table class="table members-table font-sm">
    <tbody>
      <% users.each do |user| %>
        <tr>
          <th scope="row"><%= link_to user_path(user),class:"" do %><%= attachment_image_tag user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %><% end %></th>
          <td><%= link_to user_path(user),class:"" do %><%= user.name %><% end %></td>
          <td><%= user.belongs %></td>
          <td><%= user.position %></td>
          <td>
            <%# フォローボタン（非同期） %>
            <%= render "follow_button", member: user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="content__block__following">
  <h2 class="block-hedding">申請中のユーザー</h2>
  <table class="table members-table font-sm">
    <tbody>
        <% followings.each do |following| %>
        <tr>
          <%# 申請中のユーザーはユーザー詳細ページにいけない %>
          <th scope="row"><%= attachment_image_tag following, :image, format: 'jpeg',fallback: "no_image.jpg", class:"small-image" %></th>
          <td><%= following.name %></td>
          <td><%= following.belongs %></td>
          <td><%= following.position %></td>
          <td>
             <%# フォローボタン（非同期） %>
            <%= render "follow_button", member: following %>
          </td>
      <% end %>
    </tbody>
  </table>
</div>