<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <%= render 'public/logging_in_slidebar' %>
  </div>  
  <!-- Go toカンジの部屋ボタン（767px以下のみ） -->
  <%= render 'public/events/go_to_kanjino_heya_button' %>
  <div class="body">
    <%= form_with model: @user, local: true do |f| %>
    <%# エラーメッセージを上部に表示するため、formをヘッダーより上に記載) %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="heading">
        <h1 class="heading__en">My page</h1>
        <h3 class="heading__ja">マイページ</h3>
      </div>
      <div class="content row">
        <div class="col-sm-4">
          <div class="mypage-image-edit">
            <%# 非同期化で画像の即時アップロード表示用の記述 %>
            <%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", class:"mypage-edit-image preview-image d-none" %>
            <%# 通常の表示はS3+Lambdaで表示 %>
            <div class="s3">
              <% if @user.image.present? %>
                <%= image_tag(@image_url, fallback: "no_image.jpg", class:"mypage-edit-image") %>
              <% else %>
                <%= image_tag("no_image.jpg", class: "mypage-edit-image") %>
              <% end %>
            </div>
            <%= f.attachment_field :image, class:"mypage-edit-image-field" %>
          </div>
        </div>
        <div class="content__block--data col-sm-8">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">氏名<span class="must">&emsp;*</span></th>
                <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">会社名・所属</th>
                <td><%= f.text_field :belongs, autofocus: true, autocomplete: "belongs", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">役職</th>
                <td><%= f.text_field :position, autofocus: true, autocomplete: "position", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">Email<span class="must">&emsp;*</span></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">ノミジョイ！ID<br><em>(6文字以上 半角英数字)</em><span class="must">&emsp;*</span></th>
                <td><%= f.text_field :nomi_joy_id, autofocus: true, autocomplete: "nomi_joy_id", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">最寄駅</th>
                <td><%= f.text_field :nearest_station, autofocus: true, autocomplete: "nearest_station", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">お酒を飲むか</th>
                <td><%= f.radio_button :can_drink, true %>飲む&emsp;<%= f.radio_button :can_drink, false %> 飲まない
              </tr>
              <tr>
                <th scope="row">好きな料理・お酒</th>
                <td><%= f.text_field :favolite, autofocus: true, autocomplete: "favolite", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">苦手な料理・お酒</th>
                <td><%= f.text_field :unfavolite, autofocus: true, autocomplete: "unfavolite", class:"mypage-edit-form" %></td>
              </tr>
              <tr>
                <th scope="row">自己紹介</th>
                <td><%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"mypage-edit-textarea" %></textarea></td>
              </tr>
            </tbody>
          </table>
          <div class="actions"> 
            <%= f.submit "更新", class: "btn mypage-btn green-btn" %>
          </div> 
        </div>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </div>
</main>








