<% @find_users.each do |find_user| %>
    <%# 参照先のS3オブジェクトURLを作成 %>
    <% image_url = "https://dmm-cloud-lesson10-image-files-resize.s3-ap-northeast-1.amazonaws.com/store/" + find_user.image_id + "-thumbnail." %>
    <%# S3+Lambdaで表示 %>
    $(".result1").html('<%= image_tag(image_url, fallback: "no_image.jpg", class:"responsive-small-image") %>')
    $(".result2").html('<%= find_user.name %>')
    $(".result3").html('<%= find_user.belongs %><br><%= find_user.position %>')
    $(".result4").html('<% if current_user != find_user %><div class="follow-button_<%= find_user.id %>"><% if find_user.followed_by?(current_user) %><p><%=link_to 'フォロー済み', user_relationships_path(find_user.id), method: :delete,remote: true, class:'btn btn-sm white-btn' %></p><% else %><p><%=link_to 'フォローする', user_relationships_path(find_user.id), method: :post,remote: true, class:'btn btn-sm green-btn' %></p><% end %></div><% end %>')
 <% end %>



